@import '../../scss/variables/colors';

.language {
  bottom: 16px;
  left: 16px;
  position: absolute;
}

.selectLang {
  border: 1px solid $vivid-cerulean;
  border-radius: 5px;
  color: $black;
  height: 32px;
  padding: 0 8px;
  width: 70px;
}
