$white: #FFF;
$black: #000;
$red: #F00;
$blue: #00F;
$gray: #CCC;
$lime-green: #32CD32;
$yellow: #FFFF00;

$dark-gray: #A8A8A8;
$vivid-cerulean: #00ADEE;
$cultured: #F4F4F4;
$pear: #BED23C;
$black-shadow: rgba(0, 0, 0, 0.5);
