@import '../../scss/variables/colors';

.form {
  align-items: center;
  border-bottom: 2px solid $dark-gray;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  padding-bottom: 16px;
}

.logo {
  height: 70px;
  margin-bottom: 16px;
  width: 212px;
}
